# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.env
/src/threejs - Copy
/src/threejs/engine/modules/InteractionSystem/.interactionController.ts
/src/threejs/addons
/src/threejs/__MORE_MODULES
/src/threejs/engine/core/__MENTAL_MODEL.md
/src/components/__UNTRACKED__addons
/src/components/ui/BladeUI-copy
/src/components/ui/BladeUI/color_scale_generator.ts
/.todo
/src/threejs/presets/interactionSystem/interactionLogic_glowyMat.ts
/src/threejs/examples/__discarded
/src/index-copy.css